.App {
  /* text-align: center; */
  
}

.red{
  color: red;
}
.black{
  color: black;
}
.card-body{
  min-width: 400px;
 
  /* background-color: brown; */
}
header{
  background: linear-gradient(to right, #0062E6, #33AEFF);
  display: flex;
  min-height: 100vh;
  max-height: auto;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  
}
.card{
  min-width: 400px;
  border-radius: 20px;
  margin-right: 30px;
  transition:0.3s;
  margin-top: 30px;
}
li{
  padding: 10px;
  font-size: 18px;
}
.card:hover{
  transform: translate(0, -10px)
}
.btn{
  border-radius: 10px;
}
.line{
  text-decoration: line-through;
  opacity: .5;
}
